---
layout: default
---
			<section id="two">
				<h2>Recent Work</h2>
				<div class="row">
				 	{% for work in site.data.portfolio %}
					<article class="6u 12u$(xsmall) work-item">
						<a id="workModal{{forloop.index}}" href="#work{{forloop.index}}" data-target="work{{forloop.index}}" class="work image fit thumb"><img src="{{ work.thumb | prepend: "/upload/portfolio/" | prepend: site.baseurl }}" alt="" /></a>
						<h3>{{ work.name }}</h3>
						<p>{{ work.summary | truncatewords: 8 }}</p>
					</article>
					{% endfor %}
				</div>
				{% comment %}
				<ul class="actions">
					<li><a href="#" class="button">Full Portfolio</a></li>
				</ul>
				{% endcomment %}

				{% for work in site.data.portfolio %}
    			<div id="work{{forloop.index}}" class="workModal">
        			<div class="closebt-container close-work{{forloop.index}} top"> 
            			<img class="closebt" src="images/closebt.svg" data-no-retina />
       				</div>
            
        			<div class="modal-content">
        				<div>
        					<div class="row">
        						<div class="col-md-offset-1 col-md-10 col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                  					<h2>{{ work.name }}</h2>
                  					<p class="intro">{{ work.summary }}</p>
                  					<img src="{{ work.pic | prepend: "/upload/portfolio/" | prepend: site.baseurl }}" class="img-responsive align-center" data-no-retina />
                  					<div class="detail">
                  						<p>
                  							{% for url in work.url %}
                  							<a href="{{ url.url }}" class="btn {{ url.class }}" target="_blank">{{ url.name }}</a>
                  							{% endfor %}
                  						</p>
                  						Date: {{ work.date }} | Client : <a href="{{ work.site }}" target="_blank">{{ work.client }}</a><br />
                  						Role: {% for role in work.role %}{{ role }}{% if forloop.last != true %}, {% endif %}{% endfor %} | Type: {% for type in work.type %}{{ type }}{% if forloop.last != true %}, {% endif %}{% endfor %}
                  					</div>
                  				</div>
                  			</div>
                  		</div>
        			</div>

        			<div class="closebt-container close-work{{forloop.index}} bottom"> 
            			<img class="closebt" src="images/closebt.svg" data-no-retina />
       				</div>
    			</div>
    			{% endfor %}
			</section>

			<section id="three">
				<div class="row">
					<div class="6u 12u$(xsmall)">
						<h2>Talks</h2>
						<ul class="alt"> 
				 		{% for talk in site.data.talks %}
							<li><a href="{{ talk.url }}" target="_blank">{{ talk.name }}</a> - {{ talk.where }}. {{ talk.date }}</li>
						{% endfor %}
						</ul>
					</div>
					<div class="6u 12u$(xsmall)">
						<h2>Mentions</h2>
						<ul class="alt"> 
				 		{% for mention in site.data.mentions %}
							<li><a href="{{ mention.url }}" target="_blank">{{ mention.name }}</a> - {{ mention.where }}. {{ mention.date }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<hr />
				<h2>Conferences</h2>
				<div class="row">
					<div class="12u 12u$(xsmall)">
						<ul class="alt"> 
				 		{% for conference in site.data.conferences %}
							<li><a href="{{ conference.url }}" target="_blank">{{ conference.name }}</a><br />{{ conference.where }}<br/>{{ conference.date }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</section>


				
